body {
    background-color: #e7e7e7;
}
p#prof {
    height: 130px;
    width: 200px;
    border: 1px solid black;
    padding-top: 90px;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    background-color: white;
}

p#user {
    display: inline;
    position: absolute;
    font-size: 30px;
    margin-left: 25%;
}

p#rate {
    display: inline;
    position: absolute;
    margin-left: 60%;
    width: 200px;
}
p#abouttext{
    margin-left: 35%;
}
strong.rating {
    font-size: 40px;
    color: #4CAF50;
}

span#large {
    font-size: 20px;
}

p#car {
    height: 150px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    padding-top: 120px;
    margin-left: 38%;
    background-color: white;
}
h1{
    margin-left:44%;
}
h2{
    margin-left: 35%;
}
button{
    transition-duration: 0.4s;
    border: 1px solid #008CBA;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border-radius: 4px;
}
button.listing{
    transition-duration: 0.4s;
    border: 1px solid #008CBA;
    padding: 10px;
    margin-left: 38%;
    background-color: white;
    font-size: 16px;
    border-radius: 4px;
}
button.about{
    margin-left: 44%;
}
button.aboutback{
    margin-left: 44%;
}
button:hover{
    cursor: pointer;
    background-color: #008CBA;
    color: white;
}

button#interest {
    margin-left: 48%;
}

button#interest:hover {
    cursor: pointer;
    background-color: #008CBA;
    color: white;
}

.about {
    margin-left: 25%;
    margin-right: 20%;
}

span.par {
    display: inline-block;
    padding-top: 10px;
    margin-left: 45px;
    margin-bottom: 25px;
}

ul {
    list-style-position: inside;
}

li {
    margin: 7px;
}

li.comment {
    border-top: 1px solid black;
}

p.com {
    display: inline-block;
    margin-left: 100px;
}

article.hidden {
    display: none;
}
